<h1>Aqui se miran los productos</h1>
<hr>

<div class="productos-contenedorTarjetas">
    <app-producto-tarjeta (productoSeleccionado)="borrarProducto( $event )"  [producto]="producto" [index]="i" *ngFor="let producto of productos; let i = index"></app-producto-tarjeta> 
</div>

