<div class="card mt-5 p-2">
    <img class="card-img-top img-fluid" [src]="producto.img">
    <div class="card-body text-center">
        <h4 class="card-title">{{ producto.name }}</h4>
        <p class="card-text"> {{ producto.price }} </p>  
           
        <div class="producto-tarjeta-buttonContainer">
            

        <button class="producto-tarjeta-buttonContainer typeB"
                (click)="borrarProducto()">
            <i></i>
            Borrar
        </button>
        </div>

    </div>
</div>