<h1>Aqui se ingresan productos</h1>
<hr>



<div>
    <div>
        <form [formGroup]="forma" (ngSubmit)="guardar()">

            <h1>Super formulario</h1>

            <mat-form-field appearance="fill">
                <mat-label> Select </mat-label>
                <mat-select [(value)]="selected">
                    <mat-option *ngFor="let product of producto1" [value]="product.id"> {{product.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button type="button" class="producto-tarjeta-buttonContainer typeA" (click)="cargar(selected)">Cargar</button>
            
            <div class="form-group">
                
                <div *ngIf="selected">
                    <label for="">Id product</label>
                    <input  formControlName="id"
                            type="number"
                            placeholder="Id de producto"
                            [value]="productoObtenido.id"
                            [readonly] = "true"
                            >
                </div>

                <label class="tittle-label">Nombre</label>
                <input  formControlName="name"
                        type:text
                        placeholder="Nombre del producto"
                        name="name"
                        [class.is-invalid]="productoNoValido"
                        [value]="productoObtenido.name"
                        >
                        <span *ngIf="productoNoValido" style="color: red;">
                            Ingrese Nombre del producto
                        </span> 
            </div>

            <div class="form-group">
                <label class="tittle-label">Precio</label>
                <input  formControlName="price"
                        type:number
                        placeholder="Precio del producto"
                        name="price"
                        [class.is-invalid]="productoNoValido"
                        [value]="productoObtenido.price"
                        >
                        <span *ngIf="productoNoValido" style="color: red;">
                            Ingrese Precio del producto
                        </span>
            </div>

            <div class="form-group">
                <label>Imagen</label>
                <input  formControlName="img"
                        type="file"
                        class="form-control"
                        placeholder="Nombre del producto"
                        name="img"
                        required>
            </div>


            <hr>

            <div class="form-group text-center">
                <button type="submit"
                        class="producto-tarjeta-buttonContainer typeA long">
                    Guardar
                </button>
         
            </div>

        </form>
    </div>
</div>