.contenedor-cartas{

    display: grid !important;
    grid-template-columns: 25% !important;

}
.producto-tarjeta-buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    color: white;
}

.typeA{
    background-color: darkblue;
}

.typeB{
    background-color: crimson;

}

.long{
    width: 33%;
}

.tittle-label{
    font-size: 16px;
    margin-right: 20px;
}