
  <mat-toolbar class="navbar" color="primary"> 
    <span>Super Pruebita</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" aria-label="Example icon-button with share icon" routerLink="/productos">
     Ver productos
    </button>
    <button mat-raised-button color="primary" aria-label="Example icon-button with share icon" routerLink="/producto/nuevo">
      Registrar producto
    </button>
  </mat-toolbar>

  